body{
    font-family: 'Anton', sans-serif;
}
.name-highlight{
    color: chocolate;
    font-size: 50px;
}
.tag{
    font-size: 50px;
}

.half-width{
    width: 42%;
    float: left;
    margin-left: 100px;


}
#pic img{
    width: 100%;
}
#link-line{
    text-decoration:none ;
    background-image: linear-gradient(lightsalmon,tomato);
    color: white;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}
p{
    font-size: 30px;
}
#p2 img{
    width:100% ;
}
.btn{
    background-image: linear-gradient(lightsalmon,tomato);
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    text-decoration: none;

}
.last-area{
    height: 1200px;
}
#line{
    text-align: center;
}
#name{
    color: darkorange;
}
.box-area p{
    font-size: 10px;
}
.box-area{
    box-shadow: 10px 10px 10px gray;
    width: 30%;
    font-size:10px;
    margin: 2%;
}
.new-box{
    box-shadow: 10px 10px 10px gray;
    width: 30%;
    font-size:10px;
    margin: 2%;

}
.music-box{
    box-shadow: 10px 10px 10px gray;
    width: 30%;
    font-size:10px;
    margin: 2%;
    

}
.part{
    
    width: 80%;
    margin: 10%;
    padding-left: 2%;
    float: left;
    align-items: left;
    display: inline-flex;
    
}
#work-line{
    margin: 0px 10px 10px 400px;
    font-size: 50px;
 
    height: 100px;
    
}
.link{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    border-radius: 5px;
    padding: 1%;
    initial-letter-align: center;
   
    
}
.img-part{

background-image: url("images/shapes/Group_33094_1.png");
display: inline-flex;
border-left-width: 60%;
background-size: cover;
background-position:center;
background-attachment: fixed;
border-image-width: 20px;
border-radius: 5px;
padding: 20px;
}